/* Media Query para telas menores (celulares) */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    #servicos .service-cards {
        flex-direction: column;
    }

    #servicos .card {
        flex-basis: auto;
        margin-bottom: 20px;
    }
}

/* Reseta o estilo padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #F5E9E9;
    color: #333;
}

header {
    background-color: #f5e9e9;
    padding: 20px 0;
    text-align: center;
}

header .logo h1 {
    color: #F5E9E9;
    font-size: 30px;
    margin: 0;
}

/* Divisão de texto e imagem */
#about .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#about .col-left {
    width: 70%;
    padding: 20px;
}

#about .col-right {
    width: 30%;
    padding: 20px;
}

#about img {
    border-radius: 10px;
}

#hero {
    background-color: #E0AAB8;
    height: 50px;
    color: white;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

#hero p {
    font-size: 24px;
    margin-bottom: 40px;
}

#hero button {
    background-color: #A38064;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Adiciona uma transição suave */
}

#hero button:hover {
    background-color: #8a634a; /* Cor mais escura no hover */
}

section {
    padding: 60px 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

#about h2, #servicos h2, #contato h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #A38064;
}

#servicos .service-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#servicos .card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-basis: 30%;
}
/* Estilo para a seção de feedbacks */

#feedback {
    padding: 60px 20px;
    max-width: 1000px;
    margin: 0 auto;
    background-size: cover; /* Cobre toda a área da seção */
    background-position: center; /* Centraliza a imagem */
    border: 1px solid #e3c5bb; /* Borda rosa mais escura */
    border-radius: 5px; /* Bordas arredondadas */
}

#feedback .feedback-list p {
    background-color: #E3C5BB;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    position: relative; /* Para posicionar as aspas */
}

#feedback .feedback-list p::before { /* Adiciona aspas */
    content: open-quote;
    font-size: 30px;
    color: #A38064;
    position: absolute;
    top: 10px;
    left: 10px;
}

/* Estilo Feedback Carousel */

.feedback-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px; /* Espaçamento entre os itens */
}

.feedback-item {
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.feedback-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.feedback-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}



/* Estilo para Contato e Catalogo */

#contact form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#contact input, #contato textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#contact button {
    background-color: #A38064;
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
}

#contact button:hover {
    background-color: #E3C5BB;
}

footer {
    background-color: #A38064;
    color: #F5E9E9;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
